################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleApp1/v15
/ConsoleApp1/bin/Debug
